
*.aux

*.fdb_latexmk

*.fls

*.log

*.aux

*.synctex.gz

Assignment2/report/report-blx.bib

Assignment2/report/report.fdb_latexmk

Assignment2/report/report-blx.bib

Assignment2/report/report.bbl

Assignment2/report/report.fdb_latexmk

Assignment2/report/report.fls

Assignment2/report/report.blg

Assignment2/report/report.out
